{% extends "baseadmin.html.twig" %}
{% block title %}{% endblock  %}
{% block body %}
    <br/>
    <h2 class='text-info'>Ajout d'une nouvelle categorie</h2>
    {% form_theme formCategorie 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formCategorie) }}
    {{ form_end(formCategorie) }}
{% endblock %}